/* --------------------------------------------------------------------------------
Based on:
Fluidfox by @github/dannycandle 
Firefox-Mod-Blur by @github/datguypiko
Atom-for-Firefox by @github/Hann8n
Brave-Fox by @github/Soft-Bred
--------------------------------------------------------------------------------- */

/* Tab Shadows */
.tabbrowser-tab:is([visuallyselected="true"], 
[multiselected]) > .tab-stack > .tab-background { 
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

/* Focused Address/URL Field */
#urlbar-background { 
    outline: none !important; 
    box-shadow: none !important;
}

/*--------- Translucency after FF 121 -----------*/

:root #TabsToolbar,
:root #titlebar,
:root #tabbrowser-tabs,
:root #PersonalToolbar,
:root #nav-bar {
    -moz-default-appearance: menupopup !important;
    appearance: auto !important;
    background-color: transparent !important;
}

/*--------- Borders -----------*/

.tabbrowser-tab::after {
    border: 0 !important;
}
.titlebar-spacer[type="pre-tabs"] {
    border: 0 !important;
}
#navigator-toolbox {
    border: 1 !important;
}

.titlebar-spacer[type="pre-tabs"] {
    border: 0 !important;
}

.tabbrowser-tab::after {
    border: 0 !important;
}

#urlbar-background {
    border: 0.5px solid rgba(237, 237, 237, 1) !important;
}

#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
    border-top: 0 !important;
}

/* Add Transparency | Comment out to remove transparency completely */
:root#main-window {
    background-color: transparent !important;
}

:root:not(:-moz-window-inactive) #navigator-toolbox {
    background-color: transparent !important; 
}

/*--------- Active tab -----------*/

:root:not([lwt-default-theme-in-dark-mode]) .tab-background[selected],
.tab-background[multiselected="true"] {	
    /* background: rgba(0,0,0,.05) !important; */
    background: transparent !important;
    border: 0.5px solid rgba(237, 237, 237, 1) !important;
}

:root[lwt-default-theme-in-dark-mode] .tab-background[selected],
.tab-background[multiselected="true"] {	
    background: rgba(0, 0, 0, 0.05) !important;
    border: 0.5px solid rgba(237, 237, 237, 1) !important;
}

/*--------- Navigation Bar Background -----------*/
/*  
:root:not([lwt-default-theme-in-dark-mode]) #nav-bar {
    background-color: rgba(0, 0, 0, 0.01) !important;
}

:root[lwt-default-theme-in-dark-mode] #nav-bar {
    background-color: rgba(0, 0, 0, 0.01) !important; 
} */

/*--------- Inactive Address/Search Field Background -----------*/

:root:not([lwt-default-theme-in-dark-mode]) #urlbar-background {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

:root[lwt-default-theme-in-dark-mode] #urlbar-background {
    background: rgba(255, 255, 255, 0.05) !important;
}

/*--------- Active Address/Search Field Dropdown -----------*/

:root:not([lwt-default-theme-in-dark-mode]) #urlbar[breakout][breakout-extend] > #urlbar-background {
    background: rgba(34, 34, 36, 1) !important;
}

:root[lwt-default-theme-in-dark-mode] #urlbar[breakout][breakout-extend] > #urlbar-background {
    background: rgba(34, 34, 36, 1) !important;
}

/*--------- Bookmarks bar | Solid Color instead of Transparency -----------*/

/* :root:not([lwt-default-theme-in-dark-mode]) #PersonalToolbar {
    background: rgba(28, 27, 34, 1) !important;
}

:root[lwt-default-theme-in-dark-mode] #PersonalToolbar {
    background: rgba(28, 27, 34, 1) !important;
}

:root:not(:-moz-window-inactive) #PersonalToolbar {
    -moz-appearance: -moz-mac-source-list !important;
}

:root:-moz-window-inactive #PersonalToolbar {
    -moz-appearance: -moz-mac-source-list !important;
} */

/*--------- Navigation Bar Separator -----------*/

:root[lwt-default-theme-in-dark-mode] #navigator-toolbox {
    border-color: rgba(37, 37, 37, 1) !important;
}
:root:not([lwt-default-theme-in-dark-mode]) #navigator-toolbox {
    border-color: rgba(240, 240, 240, 1) !important;
}

/*--------- Navigation bar Buttons -----------*/
:root, toolbar {
    --toolbarbutton-hover-background: rgba(215, 215, 215, 0.09) !important;
}

/* Show Tab close button on hover */

.tabbrowser-tab:not([pinned]) .tab-close-button {
    display: -moz-box !important;
    opacity: 0;
    visibility: collapse !important;
    transition: opacity 0.25s, visibility 0.25s ease-in !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    opacity: 1;
    visibility: visible !important;
    border-radius: 3px 3px 3px 3px !important;
}

/*--------- Brave Icons -----------*/

/* Change Reload Button */
#reload-button {
    list-style-image: url("./brave-icons/Reload.svg") !important;
}

/* Change Back Button */
#back-button {
    list-style-image: url("./brave-icons/BackButton.svg") !important;
}

/* Change Forward Button */
#forward-button {
    list-style-image: url("./brave-icons/ForwardButton.svg") !important;
}

/* Change Bookmark Icon */
#star-button { 
    list-style-image: url("./brave-icons/Bookmark.svg") !important; 
}
#star-button[starred] {
    list-style-image: url("./brave-icons/BookmarkFilled.svg") !important;
}

/* Change Search Button */
#urlbar[pageproxystate="invalid"] #identity-icon,
.searchbar-search-icon,
#PopupAutoCompleteRichResult .ac-type-icon[type="keyword"],
#PopupAutoCompleteRichResult .ac-site-icon[type="searchengine"],
#appMenu-find-button,
#panelMenu_searchBookmarks {
    list-style-image: url("./brave-icons/Search.svg") !important;
}

/* Change Close Button */
.tab-close-button {
    list-style-image: url("./brave-icons/CloseTab.svg") !important;
    width: 16px !important;
    height: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
}

/*--------- Tab Overflow -----------*/
/* On By Default         */
/* Thanks u/-SZCMAWO     */
.tabbrowser-tab {
    min-width: 0px !important; 
}
.tab-content { 
    overflow: hidden !important;
}

/* Centre URL bar text input */
#urlbar-input {
    transition: transform 0.1s linear;
    transform: translateX(50%);
    position: absolute;
    height: 100%;
    width: 50%;
    text-align: center !important;
}

/* Unless text input is selected like Safari */
#urlbar[focused] #urlbar-input {
    position: absolute;
    transform: translateX(0);
    transition: all 0.2s ease;
    width: 100%;
    text-align: left !important;
}